*{
    box-sizing:border-box
}

body{
    margin:0;font-family:Arial,Helvetica,sans-serif;
    background:#f4f4f4;
    color:#222}


.container{
    width:min(1180px,calc(100% - 32px));
    margin:0 auto
}